doctype html
html
  head
    meta(charset='utf-8')
    title User List
    link(rel='stylesheet' href='/stylesheets/style.css')
 
  body
    h1 User List
 
    ul
      each zf in data
        span  #{zf.name}: #{zf.address}
        br
      
      
      
    
 
